/* DUSTY    #96858F */
/* LAVENDAR #6D7993 */
/* OVERCAST #9099A2 */
/* PAPER    #D5D5D5 */

* {
  font-family: 'Roboto', BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.is-uppercase {
  font-family: 'Josefin Sans', BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html {
  height: 100vh;
}
.tile {
  flex-basis: auto;
}

/* Media Queries */
@media screen and (max-width: 1087px) {
  #navigation a.navbar-item.is-page-link {
    border-top: 2px solid #b5b5b5;
  }

  #navigation a.navbar-item.is-page-link.is-active {
    background-color: #dbdbdb;
  }

  .container.is-fluid {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  #home-page, #home-page .hero, #events-page, #events-page .hero {
    min-height: 300px;
  }

  #home-page .slider-slide {
    height: 300px !important;
    overflow: hidden;
  }
  #about-page div.container, #speakers-page div.container, #testimonials-page div.container {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media screen and (min-width: 1088px) {
  #navigation a.navbar-item.is-page-link, #navigation a.navbar-item.is-page-link {
    border-bottom: 2px solid #f5f5f5;
  }

  #navigation a.navbar-item.is-page-link:hover, #navigation a.navbar-item.is-page-link.is-active {
    border-bottom: 2px solid #0b0446;
  }

  #navigation a.navbar-item.is-page-link:hover {
    color: #fff;
  }

  #home-page, #events-page, #events-page .hero {
    min-height: 400px;
  }

  #home-page .slider-slide {
    height: 400px !important;
    overflow: hidden;
  }

  #home-page .slider-slide > img {
    margin: -12% 0;
  }
}
/* General */
.is-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0
}
.icon > svg {
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -o-transform: translateY(2px);
  transform: translateY(2px);
}
.footer {
  background-color: hsl(0, 0%, 84%);
  padding-bottom: 2rem;
}
.footer hr {
  height: 1px;
}
.container, .tile, #events-page {
  overflow-x: hidden;
  overflow-y: hidden;
}
h1.title.is-size-1-desktop {
  padding: 2.5rem 0 0 0;
  font-family: 'Allura', cursive;
  font-size: 4.5rem !important;
}
#date-your-spouse {
  padding: .5em 0;
}
/* Navigation */
.navbar-brand img {
  min-height: 100px;
}
.navbar-brand > .navbar-item:hover, .navbar-brand img:hover {
  background-color: #f5f5f5 !important;
}
.navbar-brand > .navbar-burger.burger {
  margin: auto 5px auto auto;
}
.navbar-brand > .navbar-burger.burger > p {
  margin: 5px 0 0 5px;
}
#navigation a.navbar-item.is-page-link {
  color: #6d7993;
  background-color: #f5f5f5;
}
#navigation a.navbar-item.is-page-link:hover, #navigation a.navbar-item.is-page-link.is-active:hover {
  background-color: #96858f;
}
#navigation a.navbar-item:not(.is-page-link) {
  color: #fff;
  background-color: #f5f5f5;
}
#navigation {
  background-color: #f5f5f5;
}
#navigation .navbar-end .navbar-item:last-of-type {
  margin-right: 12px;
}
.logo {
  display: block;
  margin: -20px auto auto auto;
  max-width: 300px;
  width: 100%;
}
/* Home */
#home-page > .container {
  margin-top: 5vh;
  margin-bottom: 5vh;
}
#home-page div.slider img {
  min-height: 100%;
  object-fit: cover;
}
/* About Page */
#about-page .tile.is-8 article {
  color: hsl(324, 7%, 95%);
}

/* Speakers Page */
#speakers-page img {
  width: 10em;
  border-radius: 50%;
  display: flex;
  margin: 1em auto;
}
#speakers-page article.tile {
  border-radius: 4px;
  position: relative;
  padding: 1.25rem 1.75rem 1.5rem 1.75rem;
}

/* Events Page */
#events-page > .container {
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.has-bg-img {
  background: url('https://cdn.glitch.com/b8ab5d72-f094-4be6-b779-eb4ed16e6d67%2FDeeperLoveRetreat.JPG?1543365322759') center center;
  background-size: cover;
}

/* ContactUs */
#ContactUs-page > .container {
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 5vh;
  margin-right: 5vh;
}
.field:not(:first-child) {
  margin-top: 2.5rem;
}
article.message {
  margin: 5vh 0;
}